.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  color: #EADCCB;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
  color: #EADCCB;
}