@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before,
.slick-next:before {
  color: #502e2a; /* Replace with your desired brown shade */
}
body{
  overflow:hidden
}

@media only screen and (max-width: 600px) {
  body {
  overflow-y: scroll;
  }
}